
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1050px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1550px) {
  html {
    font-size: 25px;
  }
}

@layer utilities {
  .nav-link{
    @apply mx-2 px-2 border-b-2 border-black/0 hover:border-pink
  }
  .mobile-nav{
    @apply font-normal text-2xl m-6 text-center px-8 py-1 rounded-3xl outline
  }

  .animate-visible{
    @apply transition-opacity ease-in-out duration-700
  }

  .hover-social-link{
    @apply -translate-y-1 bg-pink text-white transition delay-100 duration-100 ease-in-out
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px purple;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

